/* Page base */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* start so titles sit at the top */
    margin: 0;
}

/* Main container */
.vr {
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titles */
.vr__h1 {
    font-family: "Barrio", system-ui;
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    color: rgb(7, 7, 82);
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.vr__h2 {
    font-family: "Rock 3D", system-ui;
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    text-align: center;
    color: rgb(13, 13, 148);
    margin: 0;
}

/* Monster wrapper */
.monster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Head */
.monster__head {
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Head image */
.monster__head img {
    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
}

/* Eyes container */
.monster__eyes {
    position: absolute;
    top: 27%;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Each eye */
.monster__eye {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monster__eye svg {
    width: 100%;
    height: auto;
}

/* Arms */
.monster__arm {
    position: absolute;
    z-index: 1;
    top: 20%;
    width: 150px;
}

.monster__arm--left {
    left: -30px;
}

.monster__arm--right {
    right: -32px;
}

@keyframes arm-left-up {
    from {transform: rotate(0deg);}
    to{transform: rotate(-60deg);}
}

@keyframes arm-right-up {
    from {transform: rotate(0deg);}
    to{transform: rotate(60deg);}
}

.monster__arm--left {
    left: -45px;
    transform-origin: top right;
    animation: arm-left-up 2s infinite ease-in-out;
}

.monster__arm--right {
    right: -36px;
    transform-origin: top left;
    animation: arm-right-up 2s infinite ease-in-out;
}