/* Page base */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Main container */
.vr {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Titles */
.vr__h1 {
    font-family: "Barrio", system-ui;
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    color: rgb(7, 7, 82);
    text-transform: uppercase;
    margin: 10px 0 0 0;
}

.vr__h2 {
    font-family: "Rock 3D", system-ui;
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    text-align: center;
    color: rgb(13, 13, 148);
    margin: 0;
}

/* Monster wrapper */
.monster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 900px;
    transform-style: preserve-3d;
}

/* Head */
.monster__head {
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Head image */
.monster__head img {
    display: block;
    max-width: 400px;
    width: 100%;
    height: auto;
}

/* Eyes container */
.monster__eyes {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Each eye */
.monster__eye {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monster__eye svg {
    width: 100%;
    height: auto;
}

/* Arms */
.monster__arms {
    position: absolute;
    z-index: 1;
    top: 16%;
    left: 30%;
    width: 150px;
    display: flex;
}

.monster__arm-left.monster__arm-left--animation {
    position: absolute;
    left: -128%;
    transform-origin: left center;
    transform: rotate(-38deg);
    animation: arm-left-up 2s ease-in-out infinite alternate;
}

.monster__arm-right.monster__arm-right--animation {
    position: absolute;
    right: -135%;
    transform-origin: right center;
    transform: rotate(38deg);
    animation: arm-right-up 2s ease-in-out infinite alternate;
}

@keyframes arm-left-up {
  0%   { transform: rotate(-38deg) translateY(0) rotateX(0deg) scaleY(0);}
  100% { transform: rotate(-28deg) translateY(32px) rotateX(-30deg) scaleY(1);}
}

@keyframes arm-right-up {
  0%   { transform: rotate(38deg) translateY(0) rotateX(0deg) scaleY(0);}
  100% { transform: rotate(28deg) translateY(32px) rotateX(30deg) scaleY(1);}
}